.container {
  padding: 40px 0;
  //   background: #f4f6f9;
  min-height: 100vh;
}

.mainContainer {
  .empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 10px;
    h4 {
      font-size: 20px;
      color: #222;
    }
    button {
      height: 52px;
      border: none;
      border-radius: 10px;
      background: #2563eb;
      color: white;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      transition: 0.2s;
      padding: 0px 30px;

      &:hover {
        background: #1d4ed8;
      }

      &:active {
        transform: scale(0.98);
      }
    }
    width: 100%;
  }
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  .logo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
  }
  h1 {
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 700;
    color: #222;
  }
}

.tableWrapper {
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    background: #2563eb;

    th {
      color: #fff;
      text-align: left;
      padding: 18px;
      font-size: 15px;
      font-weight: 600;
    }
  }

  tbody {
    tr {
      transition: 0.25s;

      &:nth-child(even) {
        background: #fafafa;
      }

      &:hover {
        background: #eef5ff;
      }
    }

    td {
      padding: 18px;
      border-bottom: 1px solid #eee;
      color: #444;
      font-size: 15px;
    }
  }
}

.actions {
  display: flex;
  gap: 10px;

  button {
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 8px;
    display: grid;
    place-items: center;
    cursor: pointer;
    color: #fff;
    transition: 0.2s;

    &:hover {
      transform: scale(1.08);
    }
  }
}

.edit {
  background: #f59e0b;

  &:hover {
    background: #d97706;
  }
}

.delete {
  background: #ef4444;

  &:hover {
    background: #dc2626;
  }
}
