.container {
  padding-block: 20px;
  background: #000;
  .mainContainer {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    nav {
      display: flex;
      gap: 40px;
      a {
        color: #fff;
        font-size: 19px;
      }
    }
  }
}
